@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --animate-marquee: marquee 40s linear infinite;

  @keyframes marquee {
    from { transform: translateX(0%); }
    to { transform: translateX(-50%); }
  }
}